# <div style="color:white;display:fill;border-radius:5px;background-color:#0E2031;letter-spacing:0.5px;overflow:hidden"><p style="padding:20px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Data Preprocessing</p></div>     
   
- **Data Preprocessing** 
    - Libraries
    - Configurations
    - Loading Data
    - Missing Data
    - Duplicated Values
    - Change Data Types
    - Data Types
    - Descriptive Statistics
    - Feature Engineer
    - Filtragem de Variáveis
         - Filtragem das Linhas
         - Selecao das Colunas

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Libraries</p></div>

In [1]:
# Basic Tools
import numpy as np
import pandas as pd
from datetime import datetime as dt


# File/ OS Tools
import os
import sys
from watermark import watermark

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Configurations</p></div>

In [2]:
print(watermark())

Last updated: 2023-08-24T23:54:46.691024-03:00

Python implementation: CPython
Python version       : 3.8.17
IPython version      : 8.12.2

Compiler    : MSC v.1916 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : AMD64 Family 23 Model 24 Stepping 1, AuthenticAMD
CPU cores   : 8
Architecture: 64bit

In [3]:
print(watermark(packages="pandas,numpy,datetime,os,sys,watermark"))

pandas   : 1.5.0
numpy    : 1.23.5
datetime : unknown
os       : unknown
sys      : 3.8.17 (default, Jul  5 2023, 20:44:21) [MSC v.1916 64 bit (AMD64)]
watermark: 2.4.3

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Helper Functions</p></div>

In [4]:
def pandas_settings():
    pd.options.display.float_format = '{:,.4f}'.format
    pd.set_option('display.expand_frame_repr', False )
    pd.set_option('display.max_columns', 35)
    pd.set_option('display.max_rows', 50)
    

pandas_settings()

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Loading Data</p></div>

In [5]:
data_raw =  pd.read_csv("../data/raw/data.csv")

In [6]:
data = data_raw.copy()

In [7]:
data.head(10)

   announce_name  bathrooms  condominio               created_at garage_spaces  gearbox  iptu    price rooms                            seller_name     size                                            subject   zipcode re_types re_rent_full_price  condominio_fechado  elevador  ...  salao_de_festas.1  varanda  area_de_servico  academia.1  ar_condicionado.1  armarios_na_cozinha.1  armarios_no_quarto.1  churrasqueira.1  mobiliado.1  piscina.1.1  quarto_de_servico.1  varanda.1  area_de_servico.1                       endereco                 bairro    cidade  estado
0     1001275868          3    792.0000  2023-08-16 20:47:06.964             2      NaN   NaN   680000     3                      Andaracira Dantas  90.0000                  VENDO APARTAMENTO NO COSTA AZUL    41760000      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0  Rua Arthur de Azevêdo Machado             Costa Azul  Salvador      BA
1     1010774273          3    700.0000  2023-08-16 20:47:06.965             1      NaN   NaN   490000     3                             Tiago Gama 116.0000                             apartamento Pituba 3/4  41830000      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0   Avenida Manoel Dias da Silva                 Pituba  Salvador      BA
2     1020816253          2    650.0000  2023-08-16 20:47:06.967             1      NaN   NaN   280000     2  ELIENE & CASSIO CORRETORES ASSOCIADOS  67.0000  Vendo Apartamento 2 Quartos - Brotas - Salvado...  40285000      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0            Avenida Dom João VI                 Brotas  Salvador      BA
3     1021783467          2      0.0000  2023-08-16 20:47:06.967             1      NaN   NaN   180000     2                             Tiago Gama  68.0000                                 Formula aeroporto   41502385      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0                   Rua Ipupiara  Jardim das Margaridas  Salvador      BA
4     1024333943          3    407.0000  2023-08-16 20:47:06.967             1      NaN   NaN   300000     2                              AJ Santos  75.0000                    2/4  Rio Vermelho Oportunidade   41940040      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0                    Rua Tamoios           Rio Vermelho  Salvador      BA
5     1025040676          1    200.0000  2023-08-16 20:47:06.968             1      NaN   NaN   175000     2                             Tiago Gama  52.0000                           Apartamento no cabula IV  41150000      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0           Rua Silveira Martins                 Cabula  Salvador      BA
6     1029284806          1         NaN  2023-08-16 20:47:06.969             1      NaN   NaN   214900     2                           Milton Muniz  45.0000  Apartamento 2/4 c/ varanda. Jardim das Margari...  41502135   Padrão                NaN                   0         1  ...                  0        1                0           0                  0                      0                     0                0            0            0                    0          0                  1              Travessa Acalanto  Jardim das Margaridas  Salvador      BA
7     1038752937          2      0.0000  2023-08-16 20:47:06.969             0      NaN   NaN    95000     3                              AJ Santos 160.0000                          3/4 Uruguai Oportunidade   40450700      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0              Rua Nicolau Alves                Uruguai  Salvador      BA
8     1038760085          2    600.0000  2023-08-16 20:47:06.969             2      NaN   NaN   300000     2                              AJ Santos 106.0000                          2 /4 Ondina Oportunidade   40170010      NaN                NaN                   0         0  ...                  0        0                0           0                  0                      0                     0                0            0            0                    0          0                  0               Avenida Oceânica                 Ondina  Salvador      BA
9     1039812591  5 ou mais  2,700.0000  2023-08-16 20:47:06.970             3      NaN   NaN  1390000     3                             Uniimoveis 192.0000      Apartamento 3 suites mais home 192m2 na Graça  40150150   Padrão                NaN                   0         0  ...                  0        1                0           0                  0                      1                     0                0            0            0                    0          0                  0                Rua Conde Filho                  Graça  Salvador      BA

[10 rows x 57 columns]

In [8]:
data.columns

Index(['announce_name', 'bathrooms', 'condominio', 'created_at',
       'garage_spaces', 'gearbox', 'iptu', 'price', 'rooms', 'seller_name',
       'size', 'subject', 'zipcode', 're_types', 're_rent_full_price',
       'condominio_fechado', 'elevador', 'permitido_animais', 'piscina',
       'portaria', 'portao_eletronico', 'salao_de_festas', 'seguranca24_h',
       'area_murada', 'academia', 'condominio_fechado.1', 'elevador.1',
       'permitido_animais.1', 'piscina.2', 'portaria.1', 'salao_de_festas.2',
       'seguranca24_h.1', 'area_murada.1', 'ar_condicionado',
       'armarios_na_cozinha', 'armarios_no_quarto', 'churrasqueira',
       'mobiliado', 'piscina.1', 'quarto_de_servico', 'salao_de_festas.1',
       'varanda', 'area_de_servico', 'academia.1', 'ar_condicionado.1',
       'armarios_na_cozinha.1', 'armarios_no_quarto.1', 'churrasqueira.1',
       'mobiliado.1', 'piscina.1.1', 'quarto_de_servico.1', 'varanda.1',
       'area_de_servico.1', 'endereco', 'bairro', 'cidade', 'estado'],
      dtype='object')

## <div style="color:white;display:fill;border-radius:5px;background-color:#153656;letter-spacing:0.5px;overflow:hidden"><p style="padding:15px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Data Preprocessing</p></div>

In [9]:
data.isna().sum()

announce_name          0
bathrooms             22
condominio           275
created_at             0
garage_spaces        518
                    ...
area_de_servico.1      0
endereco               0
bairro                 0
cidade                 0
estado                 0
Length: 57, dtype: int64

In [10]:
nan_replacements = {"bathrooms": -1, "condominio": -1, "garage_spaces": -1, "size":-1, "re_types":"Unknow"}
data = data.fillna(nan_replacements)

In [11]:
data['re_types'].value_counts()

Padrão               9961
Cobertura             282
Loft                  103
Kitnet                 54
Duplex ou triplex      38
Unknow                 34
Name: re_types, dtype: int64

**Comentários:**

- Os valores NaN são porque o cliente não informou no ato da publicação ou o sistema não conseguiu identificar?

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Change Data Types</p></div>

In [12]:
# bathrooms
data['bathrooms'] = data['bathrooms'].map(lambda x: 5 if x == '5 ou mais' else int(x))

# garage_spaces
data['garage_spaces'] = data['garage_spaces'].map(lambda x: 5 if x == '5 ou mais' else int(x))

# rooms
data['rooms'] = data['rooms'].map(lambda x: 5 if x == '5 ou mais' else int(x))


# type_mapping = {
#     "Padrão": 1,
#     "Cobertura": 2,
#     "Loft": 3,
#     "Unknow": 4,
#     "Duplex ou triplex": 5,
#     "Kitnet": 6
# }

# # Aplicar a conversão usando o mapeamento
# data["re_types"] = data["re_types"].map(type_mapping)

data['price'] = data['price'].astype('int64')
data['condominio'] = data['condominio'].astype('int64')
data['size'] = data['size'].astype('int64')

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Data Types</p></div>

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10472 entries, 0 to 10471
Data columns (total 57 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   announce_name          10472 non-null  int64
 1   bathrooms              10472 non-null  int64
 2   condominio             10472 non-null  int64
 3   created_at             10472 non-null  object
 4   garage_spaces          10472 non-null  int64
 5   gearbox                0 non-null      float64
 6   iptu                   0 non-null      float64
 7   price                  10472 non-null  int64
 8   rooms                  10472 non-null  int64
 9   seller_name            10472 non-null  object
 10  size                   10472 non-null  int64
 11  subject                10472 non-null  object
 12  zipcode                10472 non-null  int64
 13  re_types               10472 non-null  object
 14  re_rent_full_price     8 non-null      object
 15  condominio_fechado     10472 non-null  int64
 16  elevador               10472 non-null  int64
 17  permitido_animais      10472 non-null  int64
 18  piscina                10472 non-null  int64
 19  portaria               10472 non-null  int64
 20  portao_eletronico      10472 non-null  int64
 21  salao_de_festas        10472 non-null  int64
 22  seguranca24_h          10472 non-null  int64
 23  area_murada            10472 non-null  int64
 24  academia               10472 non-null  int64
 25  condominio_fechado.1   10472 non-null  int64
 26  elevador.1             10472 non-null  int64
 27  permitido_animais.1    10472 non-null  int64
 28  piscina.2              10472 non-null  int64
 29  portaria.1             10472 non-null  int64
 30  salao_de_festas.2      10472 non-null  int64
 31  seguranca24_h.1        10472 non-null  int64
 32  area_murada.1          10472 non-null  int64
 33  ar_condicionado        10472 non-null  int64
 34  armarios_na_cozinha    10472 non-null  int64
 35  armarios_no_quarto     10472 non-null  int64
 36  churrasqueira          10472 non-null  int64
 37  mobiliado              10472 non-null  int64
 38  piscina.1              10472 non-null  int64
 39  quarto_de_servico      10472 non-null  int64
 40  salao_de_festas.1      10472 non-null  int64
 41  varanda                10472 non-null  int64
 42  area_de_servico        10472 non-null  int64
 43  academia.1             10472 non-null  int64
 44  ar_condicionado.1      10472 non-null  int64
 45  armarios_na_cozinha.1  10472 non-null  int64
 46  armarios_no_quarto.1   10472 non-null  int64
 47  churrasqueira.1        10472 non-null  int64
 48  mobiliado.1            10472 non-null  int64
 49  piscina.1.1            10472 non-null  int64
 50  quarto_de_servico.1    10472 non-null  int64
 51  varanda.1              10472 non-null  int64
 52  area_de_servico.1      10472 non-null  int64
 53  endereco               10472 non-null  object
 54  bairro                 10472 non-null  object
 55  cidade                 10472 non-null  object
 56  estado                 10472 non-null  object
dtypes: float64(2), int64(46), object(9)
memory usage: 4.6+ MB

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%"> Descriptive Statistics</p></div>

In [14]:
num_attributes = data.select_dtypes( include=['int64', 'float64'] )
cat_attributes = data.select_dtypes( exclude=['int64', 'float64', 'datetime64[ns]'] )

In [15]:
# Central Tendency - mean, meadina 
ct1 = pd.DataFrame( num_attributes.apply( np.mean ) ).T
ct2 = pd.DataFrame( num_attributes.apply( np.median ) ).T

# dispersion - std, min, max, range, skew, kurtosis
d1 = pd.DataFrame( num_attributes.apply( np.std ) ).T 
d2 = pd.DataFrame( num_attributes.apply( min ) ).T 
d3 = pd.DataFrame( num_attributes.apply( max ) ).T 
d4 = pd.DataFrame( num_attributes.apply( lambda x: x.max() - x.min() ) ).T 
d5 = pd.DataFrame( num_attributes.apply( lambda x: x.skew() ) ).T 
d6 = pd.DataFrame( num_attributes.apply( lambda x: x.kurtosis() ) ).T 

# concatenar
m = pd.concat( [d2, d3, d4, ct1, ct2, d1, d5, d6] ).T.reset_index()
m.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
m

               attributes              min                max            range               mean             median             std     skew    kurtosis
0           announce_name 599,977,359.0000 1,225,987,325.0000 626,009,966.0000 1,218,109,069.2736 1,221,975,653.5000 25,236,607.1537 -13.0801    223.6580
1               bathrooms          -1.0000             5.0000           6.0000             2.3983             2.0000          1.2725   0.6512     -0.4314
2              condominio          -1.0000     2,777,000.0000   2,777,001.0000         1,913.6354           600.0000     41,705.4156  46.9581  2,551.0339
3           garage_spaces          -1.0000             5.0000           6.0000             1.4743             1.0000          1.0937   0.4120      1.1768
4                 gearbox              NaN                NaN              NaN                NaN                NaN             NaN      NaN         NaN
5                    iptu              NaN                NaN              NaN                NaN                NaN             NaN      NaN         NaN
6                   price      50,000.0000   370,000,000.0000 369,950,000.0000       773,629.3176       475,000.0000  3,895,591.7420  82.3267  7,716.8573
7                   rooms           0.0000             5.0000           5.0000             2.4552             2.0000          0.9305   0.1843     -0.5317
8                    size          -1.0000        65,000.0000      65,001.0000           120.5099            80.0000      1,036.1856  52.4538  2,869.5333
9                 zipcode  40,010,000.0000    42,250,520.0000   2,240,520.0000    41,195,144.2693    41,651,032.5000    715,085.9038  -0.5683     -1.5169
10     condominio_fechado           0.0000             1.0000           1.0000             0.3208             0.0000          0.4668   0.7681     -1.4103
11               elevador           0.0000             1.0000           1.0000             0.4281             0.0000          0.4948   0.2907     -1.9159
12      permitido_animais           0.0000             1.0000           1.0000             0.4530             0.0000          0.4978   0.1888     -1.9647
13                piscina           0.0000             1.0000           1.0000             0.4448             0.0000          0.4969   0.2222     -1.9510
14               portaria           0.0000             1.0000           1.0000             0.4206             0.0000          0.4936   0.3219     -1.8967
15      portao_eletronico           0.0000             1.0000           1.0000             0.0001             0.0000          0.0098 102.3328 10,472.0000
16        salao_de_festas           0.0000             1.0000           1.0000             0.5152             1.0000          0.4998  -0.0608     -1.9967
17          seguranca24_h           0.0000             1.0000           1.0000             0.1603             0.0000          0.3669   1.8517      1.4292
18            area_murada           0.0000             1.0000           1.0000             0.0001             0.0000          0.0098 102.3328 10,472.0000
19               academia           0.0000             1.0000           1.0000             0.4081             0.0000          0.4915   0.3739     -1.8606
20   condominio_fechado.1           0.0000             1.0000           1.0000             0.2185             0.0000          0.4132   1.3627     -0.1430
21             elevador.1           0.0000             1.0000           1.0000             0.0526             0.0000          0.2233   4.0082     14.0683
22    permitido_animais.1           0.0000             1.0000           1.0000             0.0554             0.0000          0.2287   3.8882     13.1206
23              piscina.2           0.0000             1.0000           1.0000             0.0146             0.0000          0.1200   8.0918     63.4902
24             portaria.1           0.0000             1.0000           1.0000             0.0020             0.0000          0.0447  22.2668    493.9050
25      salao_de_festas.2           0.0000             1.0000           1.0000             0.0078             0.0000          0.0881  11.1692    122.7744
26        seguranca24_h.1           0.0000             1.0000           1.0000             0.0010             0.0000          0.0309  32.3187  1,042.6993
27          area_murada.1           0.0000             1.0000           1.0000             0.0005             0.0000          0.0218  45.7384  2,090.3990
28        ar_condicionado           0.0000             1.0000           1.0000             0.1420             0.0000          0.3490   2.0516      2.2095
29    armarios_na_cozinha           0.0000             1.0000           1.0000             0.1017             0.0000          0.3023   2.6359      4.9490
30     armarios_no_quarto           0.0000             1.0000           1.0000             0.0668             0.0000          0.2498   3.4692     10.0370
31          churrasqueira           0.0000             1.0000           1.0000             0.2687             0.0000          0.4433   1.0436     -0.9110
32              mobiliado           0.0000             1.0000           1.0000             0.0793             0.0000          0.2701   3.1154      7.7072
33              piscina.1           0.0000             1.0000           1.0000             0.4164             0.0000          0.4930   0.3390     -1.8854
34      quarto_de_servico           0.0000             1.0000           1.0000             0.0272             0.0000          0.1627   5.8122     31.7876
35      salao_de_festas.1           0.0000             1.0000           1.0000             0.0003             0.0000          0.0169  59.0649  3,487.3324
36                varanda           0.0000             1.0000           1.0000             0.2771             0.0000          0.4476   0.9961     -1.0080
37        area_de_servico           0.0000             1.0000           1.0000             0.1472             0.0000          0.3544   1.9912      1.9654
38             academia.1           0.0000             1.0000           1.0000             0.3962             0.0000          0.4891   0.4245     -1.8201
39      ar_condicionado.1           0.0000             1.0000           1.0000             0.0809             0.0000          0.2727   3.0748      7.4558
40  armarios_na_cozinha.1           0.0000             1.0000           1.0000             0.0168             0.0000          0.1285   7.5189     54.5437
41   armarios_no_quarto.1           0.0000             1.0000           1.0000             0.0010             0.0000          0.0309  32.3187  1,042.6993
42        churrasqueira.1           0.0000             1.0000           1.0000             0.0191             0.0000          0.1369   7.0281     47.4027
43            mobiliado.1           0.0000             1.0000           1.0000             0.0035             0.0000          0.0593  16.7365    278.1639
44            piscina.1.1           0.0000             1.0000           1.0000             0.0283             0.0000          0.1657   5.6936     30.4226
45    quarto_de_servico.1           0.0000             1.0000           1.0000             0.0002             0.0000          0.0138  72.3498  5,233.4992
46              varanda.1           0.0000             1.0000           1.0000             0.0233             0.0000          0.1509   6.3209     37.9606
47      area_de_servico.1           0.0000             1.0000           1.0000             0.0989             0.0000          0.2986   2.6870      5.2210

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%"> Feature Engineer</p></div>

In [16]:
#size_comodo = data['size'] / (data['bathrooms'] + data['rooms'])
size_comodo = (data['bathrooms'] + data['rooms'])
size_comodo = size_comodo.replace([np.inf, -np.inf, np.nan], 0).astype('int64')

data['size_comodo'] = size_comodo

In [17]:
data.head()

   announce_name  bathrooms  condominio               created_at  garage_spaces  gearbox  iptu   price  rooms                            seller_name  size                                            subject   zipcode re_types re_rent_full_price  condominio_fechado  elevador  ...  varanda  area_de_servico  academia.1  ar_condicionado.1  armarios_na_cozinha.1  armarios_no_quarto.1  churrasqueira.1  mobiliado.1  piscina.1.1  quarto_de_servico.1  varanda.1  area_de_servico.1                       endereco                 bairro    cidade  estado  size_comodo
0     1001275868          3         792  2023-08-16 20:47:06.964              2      NaN   NaN  680000      3                      Andaracira Dantas    90                  VENDO APARTAMENTO NO COSTA AZUL    41760000   Unknow                NaN                   0         0  ...        0                0           0                  0                      0                     0                0            0            0                    0          0                  0  Rua Arthur de Azevêdo Machado             Costa Azul  Salvador      BA            6
1     1010774273          3         700  2023-08-16 20:47:06.965              1      NaN   NaN  490000      3                             Tiago Gama   116                             apartamento Pituba 3/4  41830000   Unknow                NaN                   0         0  ...        0                0           0                  0                      0                     0                0            0            0                    0          0                  0   Avenida Manoel Dias da Silva                 Pituba  Salvador      BA            6
2     1020816253          2         650  2023-08-16 20:47:06.967              1      NaN   NaN  280000      2  ELIENE & CASSIO CORRETORES ASSOCIADOS    67  Vendo Apartamento 2 Quartos - Brotas - Salvado...  40285000   Unknow                NaN                   0         0  ...        0                0           0                  0                      0                     0                0            0            0                    0          0                  0            Avenida Dom João VI                 Brotas  Salvador      BA            4
3     1021783467          2           0  2023-08-16 20:47:06.967              1      NaN   NaN  180000      2                             Tiago Gama    68                                 Formula aeroporto   41502385   Unknow                NaN                   0         0  ...        0                0           0                  0                      0                     0                0            0            0                    0          0                  0                   Rua Ipupiara  Jardim das Margaridas  Salvador      BA            4
4     1024333943          3         407  2023-08-16 20:47:06.967              1      NaN   NaN  300000      2                              AJ Santos    75                    2/4  Rio Vermelho Oportunidade   41940040   Unknow                NaN                   0         0  ...        0                0           0                  0                      0                     0                0            0            0                    0          0                  0                    Rua Tamoios           Rio Vermelho  Salvador      BA            5

[5 rows x 58 columns]

### <div style="color:white;display:fill;border-radius:5px;background-color:#2E6B8E;letter-spacing:0.5px;overflow:hidden"><p style="padding:10px;color:white;overflow:hidden;text-align: center;margin:0;font-size:120%">Filtragem de Variáveis</p></div>

##  Filtragem das Linhas

In [18]:
# columns_to_check = [#'bathrooms',
#                     #'condominio',
#                     #'garage_spaces',
#                     #'rooms',
#                     #'size',
#                     #'zipcode',
#                     #'size_comodo',
#                     'condominio_fechado',
#                     'elevador',
#                     'permitido_animais',
#                     'piscina',
#                     'portaria',
#                     'salao_de_festas',
#                     'seguranca24_h',
#                     'academia',
#                     'ar_condicionado',
#                     'armarios_na_cozinha',
#                     'armarios_no_quarto',
#                     'churrasqueira',
#                     'mobiliado',
#                     'quarto_de_servico',
#                     'varanda',
#                     'area_de_servico']

# data = data[~(data[columns_to_check] <= 0).all(axis=1)]

In [19]:
data = data[(data['re_types'] != 'Unknow')]


data = data[(data['condominio'] > 50)]

# tenho 674 linhas que o condominio é menor que o valor 1 real ou é vazio 
# verificar a necessidade de usar essa coluna 


# tenho valores muito alto quando a pessoa nao informa a quantidade de garagem 


# caso não informe o size eu já retiro do dado
data = data[~(data['size'] == -1) ]

average_price = data['price'].mean()

# caso o size for maior que 300 e abaixo da media do price vai ser removido
data = data[~(data['size'] > 300) & (data['price'] < average_price)]


# caso o condominio for maior que 1500 e abaixo da média do price vai ser removido
data = data[~(data['condominio'] > 1500) & (data['price'] < average_price)]

In [20]:
data.shape

(5880, 58)

## Selecao das Colunas

In [21]:
columns = ['iptu', 'gearbox','seller_name','subject','cidade','estado','announce_name','created_at','piscina.2','piscina.1','piscina.1.1',
          'armarios_na_cozinha.1','varanda.1','permitido_animais.1','salao_de_festas.2','salao_de_festas.1','portaria.1','elevador.1',
          'condominio_fechado.1','seguranca24_h.1','ar_condicionado.1','academia.1','quarto_de_servico.1','area_de_servico.1',
          'mobiliado.1','armarios_no_quarto.1', 'churrasqueira.1','area_murada','bairro','endereco']
data.drop(columns, inplace=True, axis=1)

In [22]:
data = data.reset_index(drop=True)

In [23]:
data.to_csv("../data/processed/data_processed.csv", index=False)